body {
  background-color: #e4faf4;
  color: #272838;
}
h1 {
  color: #3b6bd2;
}
header {
  background-color: lightblue;
}
#home-heading {
  font-family: "Montserrat", sans-serif;
}
.home-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.home-list li {
  padding: 5px;
}
.home-body {
  display: flex;
  flex-direction: column;
}
.home-header {
  text-align: center;

}
.home-footer {
  background-color: lightblue;
  text-align: center;
}